@{
    ViewBag.Title = "Contact";
}
<body>
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @*<div class="container">*@

                <div class="row">
                    <div class="col-lg-12">
                        <h1>Tenecia A Guinea</h1>
                        <h2>Contact</h2>
                        <div id="contact-paragraph" class="paragraph-wrapper">
                            <p>4155 Ardmore Road</p>
                            <p>South Euclid, OH 44121</p>
                            <p>P: 216-254-1608</p>
                            <p>email: <a href="mailto:aja.guinea@gmail.com">aja.guinea@gmail.com</a></p>
                            <p>LinkedIn:  <a href="https://www.linkedin.com/in/tenecia-guinea-484864bb" >in/tenecia-guinea-484864bb</a></p>
                            <p>GitHub: <a href="https://github.com/Tenecia">github.com/Tenecia</a></p>

                        </div> 
                        <div id="contactphoto">
                            <img id="imgcontact" src="/images/LinkedInPhoto.jpg" />
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
<script>
    
        $("#page-content-wrapper").fadeIn("");
    
</script>